<!DOCTYPE html>
<html>
<head>
  <title>Auctioncms</title>
  <%= stylesheet_link_tag    "auctioncms/application", media: "all" %>
  <%= javascript_include_tag "auctioncms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
